{% extends 'base.html' %}

{# XXX: deprecated module #}
{% load markup %}

{% block subtitle %} - {{ recipe.name }}{% endblock %}

{% block content %}

<article>
    <h2>{{ recipe.name }}</h2>
    <span class="author">by <a href="{% url 'keuken:recipes_by_author' recipe.author.username %}">{{ recipe.author }}</a></span>

    <section>
        <h3>Ingredients</h3>
		{# XXX: The double related managers is going to hurt with lots of entries, but works for now. #}
		{% for ingredients in recipe.ingredients_set.all %}
			{% if ingredients.name %}{{ ingredients.name }}{% endif %}
			<ul>
			{% for ingredient in ingredients.ingredient_set.all %}
				<li>{{ ingredient }}</li>
			{% endfor %}
			</ul>
			{% if ingredients.note %}{{ ingredients.note|markdown }}{% endif %}
		{% endfor %}
    </section>

    <section>
        <h3>Directions</h3>
        {{ recipe.directions|markdown }}
    </section>
</article>

{% endblock %}
